
#PäevamenüüPealkiri {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../Pildid/Päevamenüü/menüütoit.jpg");

    /* Neon */
    color: #fff7a1;
    text-shadow: 0 0 2rem #ffb600;
}

#MenüüKaartPealkiri {
    /*Konteiner*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    /*Pealkiri*/
    font-family: "Lobster", sans-serif;
    font-size: 6vh;
    padding: 4vh 0;
    margin: 0;
}

h2 {
    font-family: Lobster, sans-serif;
    font-size: 4vh;
    margin: 4vh 0 2.5vh 0;
}

.Kaart {
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 1vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 1vh 0;
}

.Hind {
    text-align: right;
}

#VtJoogid {
    line-height: 6vh;
    color: inherit;
}

.tume-teema tr {
    border-bottom: 1px solid #ddd;
}

.hele-teema tr {
    border-bottom: 1px solid #000000;
}

.tume-teema {
    .Kaart {
        background-color: rgba(31, 31, 31, 0.7);
    }
    #MenüüKaartPealkiri {
        background-color: rgba(2, 2, 2, 0.3);
    }
}

.hele-teema {
    .Kaart {
        background-color: rgba(255, 255, 255, 0.7);
    }
    #MenüüKaartPealkiri {
        background-color: rgba(255, 230, 126, 0.5);
    }
}