/*Fondid*/
/*Fondid võetud saidilt: https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Päis {
    /* Konteiner */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    /* Pealkiri */
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 10vh;
    padding: 7vh 0;

    /* Taustapilt saadud veebisaidilt: https://www.pexels.com/, autor: Piccinng, pealkiri: "Photo of Skyline at Night" */
    /* https://dev.to/nazanin_ashrafi/how-to-darken-an-image-with-css-4f5h */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Elemendi suurus */
    min-height: fit-content;
    margin: 0;
}

.Kirjeldus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    text-align: center;
    font-size: 3vmin;
    padding: 1.7vmin 6%;
    font-family: "Oswald", sans-serif;
    margin-top: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.nupud {
    display: flex;
    padding: 0 4%;
    height: 5vh;
    margin-bottom: 3%;
}

.LingiNupp {
    flex: 1;
    margin: 0 1%;
    border-radius: 0.6rem;
    border: 0.3vh solid transparent;

    font-family: "Lobster", sans-serif;
    text-decoration: none;
    font-size: 2.5vmin;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LingiNupp:hover {
    border: 0.3vh solid #d62fff;
    box-shadow: 0 0 4vh #c400c4;
}

#EsileheNupp:hover {
    border: 0.3vh solid #d62fff;
    box-shadow: 0 0 4vh #c400c4;
}

#JoogimenüüNupp:hover {
    border: 0.3vh solid #ff2f6a;
    box-shadow: 0 0 4vh #c40086;
}

#PäevamenüüNupp:hover {
    border: 0.3vh solid #39f6ff;
    box-shadow: 0 0 4vh #2460ff;
}

#TegevusedNupp:hover {
    border: 0.3vh solid #2ffff5;
    box-shadow: 0 0 4vh #6bebff;
}

#BroneeriNupp:hover {
    border: 0.3vh solid #ff5c00;
    box-shadow: 0 0 4vh #a45000;
}

#InfoNupp:hover {
    border: 0.3vh solid #ff17c1;
    box-shadow: 0 0 4vh #ab0086;
}

.Taust {
    width: 100%;
    height: 100%;
    background-size: 112px 112px;
    background-repeat: repeat;
}

.Kaart {
    margin: 0 4% 4% 4%;
    overflow: hidden;
    border-radius: 1rem;
}

.Veerg {
    display: flex;
    flex-direction: row;
}

.Tulp {
    box-sizing: border-box;
    flex: 1;
    padding: 0 4vw;
}

@media only screen and (max-width: 600px) {
    .Veerg {
        flex-direction: column;
    }
    .Tulp {
        width: 100%;
    }
}

.Jalus {
    padding: 1% 0 2% 2%;
}

.JalusOsad {
    display: flex;
}

.JalusTulp {
    flex-direction: column;
    margin-right: 5%;
}

.tume-teema {
    .Taust {
        background-image: url("../Pildid/Tekstuur_2.png");
        background-color: #111111;
        color: white;
    }
    .Kirjeldus {
        background-color: #1c1c1c;
    }
    .LingiNupp{
        color: white;
        background-color: rgba(40, 40, 40, 0.8);
    }
    .Jalus {
        background-color: rgba(40, 40, 40, 0.7);
    }
    .TeemaNupp {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .TeemaNupp:hover {
        border-top: 0.4vh solid #d62fff;
        border-left: 0.4vh solid #d62fff;;
        border-bottom: 0.4vh solid #d62fff;
        box-shadow: 0 0 4vh #c400c4;
    }
}

.hele-teema {
    .Taust {
        background-image: url("../Pildid/Tekstuur_hele.png");
        background-color: #ffe8ad;
        color: black;
    }
    .Kirjeldus {
        background-color: #fffae3;
    }
    .LingiNupp{
        color: black;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .Jalus {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .TeemaNupp {
        background-color: rgba(31, 31, 31, 0.7);
    }
    .TeemaNupp:hover {
        border-top: 0.4vh solid #fff7a1;
        border-left: 0.4vh solid #fff7a1;
        border-bottom: 0.4vh solid #fff7a1;
        box-shadow: 0 0 4vh #ffb600;
    }
}

.TeemaNupp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25vh;
    right: 0;
    z-index: 1;

    padding: 1vh;
    border-radius: 20% 0 0 20%;
    border: 0.4vh solid transparent;

    cursor: pointer;
}

.Peidetud_Nupp {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.KuuIkoon, .PäikseIkoon {
    width: 3.5vh;
    height: 3.5vh;
    display: none;
}

.Peidetud_Nupp:checked ~ .PäikseIkoon {
    display: inline-block;
}

.Peidetud_Nupp:not(:checked) ~ .KuuIkoon {
    display: inline-block;
}