
#põhipealkiri {
    /* Konteiner */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    /* Pealkiri */
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 4rem;

    /* Neon */
    color: #d62fff;
    text-shadow: 0 0 2rem #c400c4;

    /* Taustapilt saadud veebisaidilt: https://www.pexels.com/, autor: Piccinng, pealkiri: "Photo of Skyline at Night" */
    /* https://dev.to/nazanin_ashrafi/how-to-darken-an-image-with-css-4f5h */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("taustapilt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Elemendi suurus */
    height: 25vh;
}
.põhiosa {
    padding: 0 2rem;
}

.vahekaart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 1rem;
    background-color: #282828;
}

.Tekst, .Pilt {
    width: 50%;
    box-sizing: border-box;
}

.Pilt{
    max-height: 50vh;
}

.Tekst {
    padding: 2rem;
    min-height: 100%;
}

img {
    object-fit: cover;
    max-height: inherit;
    width: 100%;
}

.VasakPilt {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.ParemPilt {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Kirjeldus {
    background-color: #1c1c1c;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    text-align: center;
    font-size: 1.1rem;
    padding: 0 2rem;
}
