
.põhiosa {
    padding: 0 4%;
}

.vahekaart {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    margin-bottom: 5%;
    overflow: hidden;
}

.tume-teema {
    #EsilehePealkiri{
        color: #d62fff;
        text-shadow: 0 0 2rem #c400c4;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("taustapilt.jpg");
    }
    .vahekaart {
        background-color: rgba(31, 31, 31, 0.7);
    }
}

.hele-teema {
    #EsilehePealkiri{
        color: #fff7a1;
        text-shadow: 0 0 2rem #ffb600;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("taustapilt_hele.jpg");
    }
    .vahekaart {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.Tekst, .Pilt {
    box-sizing: border-box;
}

.Pilt{
    aspect-ratio: 16/9;
    display: flex;
    align-items: stretch;
    width: 45%;
    overflow: hidden;
}

.Tekst {
    width: 55%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vh;
}

img {
    object-fit: cover;
    width: 100%;
    transition: transform 1.25s ease;
}

.vahekaart:hover img {
    transform: scale(1.15);
}

h2 {
    margin-bottom: 0;
    font-size: 4vh;
}

.LinkPealkiri {
    text-decoration: none;
    color: inherit;
}

#JoogimenüüLink:hover {
    color: #ff2f6a;
    text-shadow: 0 0 2rem #c40086;
}

#PäevamenüüLink:hover {
    color: #39f6ff;
    text-shadow: 0 0 2rem #2460ff;
}

#TegevusedLink:hover {
    color: #2ffff5;
    text-shadow: 0 0 2rem #6bebff;
}

#BroneeriLink:hover {
    color: #ff5c00;
    text-shadow: 0 0 2rem #a45000;
}

#InfoLink:hover {
    color: #ff17c1;
    text-shadow: 0 0 2rem #ab0086;
}