h1{   
    color: #ff2f6a;
    text-shadow: 0 0 2rem #c40086;
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    /*taustapilt on saadud  saidilt https://wallpapers.com/wallpapers/mojito-drink-lime-and-mint-uio74i0rowuwdowi.html Autor: daffyduck */
    background-image: url("Joogimenüü_taust.jpg");
    
}

h2{
    font-family: Lobster, sans-serif;
    font-size: 4vh;
    margin: 2.5vh 0;
}

.tume-teema tr {
    border-bottom: 1px solid #ddd;
}

.hele-teema tr {
    border-bottom: 1px solid #000000;
}

.tume-teema {
    #Kaart {
        background-color: rgba(31, 31, 31, 0.7);
    }
    .vahekaart {
        background-color: rgba(31, 31, 31, 0.7);
    }
}

.hele-teema {
    #Kaart {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .vahekaart {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.põhiosa {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 4% 4% 4%;
}

.vahekaart {
    background-color: rgba(40, 40, 40, 0.3);
    box-sizing: border-box;
    flex: 1;
    padding: 3vh 4vw;
}

@media only screen and (max-width: 600px) {
    .põhiosa {
        flex-direction: column;
    }
}

/*.Tekst, .Pilt {
    box-sizing: border-box;
}

.Pilt{
    aspect-ratio: 16/9;
    display: flex;
    align-items: stretch;
    width: 45%;
}

.Tekst {
    width: 55%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vh;
}*/

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 1vh 0;
}

.hinnad {
    text-align: right;
}