h1{   
    color: #ff2f6a;
    text-shadow: 0 0 2rem #c40086;
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    /*taustapilt on saadud  saidilt https://wallpapers.com/wallpapers/mojito-drink-lime-and-mint-uio74i0rowuwdowi.html Autor: daffyduck */
    background-image: url("Joogimenüü_taust.jpg");
    
}
/*
h2{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}*/
